
.横並びA {
/* 	横並び */
	display: flex;
	
 /* 列の間に隙間を開ける 横並びに対してかく */
	justify-content: space-between;
	
	& .列 {
		background-color: orange;
		
	 /* 要素の幅指定 幅１２０px*/
		width: 120px;
	}
}

.ねこ{
	letter-spacing: 3px;
	font-family: serif;
	

}

.hiiro{
	letter-spacing: 2px;
	color: red;
	font-family: serif
}

.横並びB{
	display: flex;
	
	justify-content: space-between;
	
	& .広い列 {
		background-color: lightblue;
		width:240px;
	}
	
	& .狭い列 {
		background-color: lightgreen;
		width: 120px;
	}
}

.横並びC {
/* 	横並び */
	display: flex;
	
 /* 列の間に隙間を開ける 横並びに対してかく */
	justify-content: space-between;
	
	& .列 {
		background-color: pink;
		
	 /* 要素の幅指定 幅１２０px*/
		width: 120px;
	}
}
.横並びD {
	display: flex;
	
	/* 列全体を中央に寄せつつ、 */
	justify-content: center;
	
	/* 列同士の間隔を空ける */
	gap: 20px;
	
	& .列 {
		background-color: red;
		width: 120px;
	}
}



/* 演習	 */
	
	.枠 {
		display: flex;
		justify-content: space-between;
		
		& .要素{
	    width: 100px;
			padding: 10px;
		  border: solid 0.5px;
		
		
		}
	}

& .文字{
	font-size: 20px;
	font-weight: bold;
}
& .inu {
	width:100%;
}

& .yaku{
	width:100%;
}

& .kitune{
	width: 100%;
}
